
@{
    ViewBag.Title = "Reset Password";
}

<h2>Reset Your Password</h2>

@using (Html.BeginForm("ResetPassword", "Home"))
{
    @Html.AntiForgeryToken()
    @Html.Raw(ViewBag.Message)
    <div class="form-horizontal">
        <h4>Enter Your A New Password</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        
        <div class="form-group">
            <label for="password" class="control-label col-md-2">New Password</label>
            <div class="col-md-10">
                <input type="password" name="password" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label for="passwordConfirm" class="control-label col-md-2">Confirm New Password</label>
            <div class="col-md-10">
                <input type="password" name="passwordConfirm" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="hidden" name="passwordToken" value="@ViewBag.PasswordToken" />
                <input type="hidden" name="userID" value="@ViewBag.UserID" />
                <input type="submit" value="Submit" class="btn btn-info" />
            </div>
        </div>
    </div>
}

